* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
  
.header {
  width: 100%;
  height: 120px;
  display: block;
  background-color: #0B0B0B;
}

.inner_header {
  width: 1200px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logos {
  height: 100%;
  display:table;
  float:left;
}

.logos h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 36px;
  font-weight: 200;
}

.logos h1 span {
  font-weight: 200;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a li:hover {
  color: white;
  transition: 0.5s;
  transform: translateY(-3px) scale(1.05);
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

#whiteh, #whiteg, #whitep, #whitem{
  color: white;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  color: #c5c5c5;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.container {
  background-color: white;
  width:830px;
  margin: 0 auto;
}

body {
  background-color: white; 
  margin: 0px;
  padding: 0px;
}

#ccheader {
  display: block;
  margin: 0px 0px:
}

.indent {
  text-indent: 30px;
}

#gearpic1 {
  margin: 0 auto;
}

.section1, .section2, .section3{
  width: 830px;
  height: auto;
  display: block;
  padding: 15px 0px;
}

.section1:after{
  content: "";
  display: block;
  clear: both;
}


#whatiscc {
  width: 380px;
  height: auto;
  margin: 0px 10px 0px 0px;
  float: left;
}

#indexpic1 {
  display: block;
  width: 440px;
  margin: 59px 0px;
  float: right;
}

.content {
  padding: 30px 0px;
  clear: both;
}

#placestitle {
  font-size: 42px;
  text-align:center;
}

#contactlinks{
  height: 1000px;
}

#mail {
  background-color: red;
  vertical-align: middle;
}

h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
  margin: 40 0 40px;
}

h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 36px;
  text-align: left;
  padding: 0px 0px 15px 0px;
}

h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 32px;
  text-align: left;
}

p {
  color: #222;
  font-size: 18px;
  line-height: 28px;
}
  
  
